@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    margin:0;  
    background: #2c2a2a;
    background: linear-gradient(176deg,#2c2a2a 0%, #3f4950 80%);
    background: -webkit-linear-gradient(176deg,#2c2a2a 0%, #3f4950 80%);
    background: -moz-linear-gradient(176deg,#2c2a2a 0%, #3f4950 80%);
    color: #f4f4f4;
    font-family: 'Montserrat';
    width: 100%;
}


.coin-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.coin-text {
  margin-bottom: 32px;
  text-align: center;

}

.coin-input {
padding-left: 16px;
width: 60vh;
height: 30px;
border-radius: 20px;
border: 1px solid white;
text-align: center;
background-color: #2c2a2a;
color: white;
}

@media screen and (max-width: 960px) {
  .coin-input {
    width: 30vh;

    }

}

