
.container {
    margin: auto;
    width: 100vh;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 70px;
    background-color: rgb(27, 27, 27);
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: rgba(182, 182, 182, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    
}

.coin {
    display: flex;
    align-items: center;
    width: 50%;
    
}

.coin h1 {
    font-size: 1.2rem;
    text-align: center;
    width: 70%;

}

.coin img {
   margin-right: 10px; 
   width: 10%;
}

.coin-symbol {
    text-transform: uppercase;
    width: 20%;
    font-size: small;



}

.coin-data {
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 10px 0px 10px 0px;
}

.coin-price{
    display: flex;
    justify-content: center;
    width: 20%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;

}

.coin-volume{
    display: flex;
    justify-content: center;
    width: 60%;
    text-align: center;
    padding-top: 5px;
}

.coin-percent{
display: flex;
justify-content: center;
width: 10%;
padding: 5px 35px;
border-radius: 5px;


}

.red {
    background-color: rgb(174, 74, 74);
}

.green {
    background-color: rgb(49, 113, 74);
}

@media screen and (max-width: 960px) {
   
    .container {
        margin: auto;
        width: 80%;
    }

    .coin h1 {
        font-size: 1rem;

    }
    .coin img {
        margin-right: 10px; 
        width: 15%;
    }
    .coin-volume {
        display: none;
    }
    .coin-price{
        width: 80%;
        text-align: center;
    }
    .coin-symbol{
        display: none;
    }

}